/* *{
  outline: 1px solid black;
} */

#screen_frame{
  width: 500px;
  height: 380px;
  margin: auto;
  /* width: auto; */
}

#background_frame{
  background-image: url(../img/test_background_image.png);
  position: relative;
  height: 100%;
}

#character_frame{
  display: flex;
  width: auto;
  height: 225px;
}

#character_frame div{
  margin: auto;
  margin-top: 30px;
  width: 150px;
  height: 330px;
  z-index: 0;
}

#character_frame div img{
  z-index: 0;
  width: 100%;
}

#option_area{
  background: rgba(0, 0, 0, 0.692);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left:0px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

#option_area .option{
  color: #fff;
  border: #fff 1px solid;
  border-radius: 25px;
  margin: 5px auto;
  width: 90%;
  flex: 1;
}

#option_area .option #option_text{
  margin: 5px;
}

.none{
  display: none !important;
}

#user_frame{
  display: flex;
  /* height: 100%; */
  background: rgba(0, 0, 0, 0.692);
  z-index: 1;
  position: absolute;
  top: 215px;
  left: 20px;
  border-radius: 25px;
  border: 1px solid #fff;
  height: 160px;
  padding: 0 5px;
}

/* #user_frame div{
  margin: 0 auto;
} */

#user_frame #text_frame{
  width: 350px;
  height: 125px;
  z-index: 2;
  color: white;
  margin: 0 auto;
  /* overflow-y: auto; */
}
#character_name{
  margin: 3px 0;
}
#text_area{
  overflow-y: auto;
  height: 100%;
}

#user_frame #controller_frame{
  width: 100px;
  z-index: 2;
  /* line-height:100%; */
  margin: 5px auto;

}
/* .btn{
  margin: 5px;
} */
.btn input{
  width: 100%;
  margin: 3px auto;
  border-radius: 25px;
  /* background: rgba(0, 0, 0, 0.692); */
  background: none;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.1s;
}

.btn input:focus{
  outline: none;
}

.btn input:active{
  background: rgb(0, 0, 0);
  /* outline: none; */
}

@media screen and (max-width:762px){
  /* #screen_frame{
    width: auto;
  } */

/* #user_frame{
  width: auto;
  left: auto;
  } */
}