*{
  outline: 1px solid black;
}

#screen_frame{
  width: 500px;
  height: 350px;
  margin: auto;
  /* width: auto; */
}

#background_frame{
  background-image: url(../img/test_background_image.png);
  position: relative;
  height: 100%;
}

#character_frame{
  display: flex;
  width: auto;
  height: 225px;
}

#character_frame div{
  margin: auto;
  margin-top: 30px;
  width: 150px;
  height: 300px;
  z-index: 0;
}

#character_frame div img{
  z-index: 0;
  width: 100%;
}

#user_frame{
  display: flex;
  /* height: 100%; */
  background: rgba(0, 0, 0, 0.692);
  z-index: 1;
  position: absolute;
  top: 220px;
  left: 25px;
}

#user_frame div{
  margin: auto;
}

#user_frame #text_frame{
  width: 350px;
  height: 125px;
  z-index: 2;
  color: white;
}

#user_frame #controller_frame{
  width: 100px;
  z-index: 2;
  /* line-height:100%; */
  margin: 5px auto;

}
/* .btn{
  margin: 5px;
} */
.btn input{
  width: 100%;
}

@media screen and (max-width:762px){
  /* #screen_frame{
    width: auto;
  } */

/* #user_frame{
  width: auto;
  left: auto;
  } */
}